.footer-bg {
    background-color: var(--cor-12);
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}