div {
    min-height: 80vh;
}

.menu {
    background: linear-gradient(to bottom, transparent 90%, #fff 99%), url("./assets/pexels-chevanon-photography-1108099.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 500px;
}

section {
    color: black;
}

