<header class="header">
    <a href="/" class="logo">Pet Adoption</a>
    <nav class="navbar">
        <a href="/">Pets</a>
        <a href="/">Owners</a>
        <a href="/">Locations</a>
    </nav>
</header>