.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    padding:20px 100px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar a {
    position:relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

    .navbar a::before {
        content: '';
        position: absolute;
        left: 0;
        top:100%;
        width: 0;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: right;
        transition: .4s;
    }

    .navbar a:hover::before {
        width: 100%;
        transform: scaleX(1);
        transform-origin: left;
    }
