<section class="container" style="margin-top:210px;">
    <h2>Adote um animal.</h2>
    <p>
        <br>
        Animais de várias raças e diversas idades.
        <br>
        Explore o catálogo e adquira um novo amigo.
    </p>
    <br>
    <a class="button" href="#catalog">Catálogo</a>
</section>

<section style="margin-top:1000px;" id="catalog">
    catalog
</section>