@rendermode InteractiveServer
@inject IJSRuntime JS

<section class="container" style="margin-top:100px;">
    <h2 class="description-title">Adote um animal.</h2>
    <p class="description">
        Animais de várias raças e diversas idades.
        Explore o catálogo e adquira um novo amigo.
    </p>
    <br>
    <a class="button" href="#catalog">Catálogo</a>
</section>

<section class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-top:50px;" id="catalog">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="catalog-container">
                <div class="imgBx">
                    @* <img src="./assets/pexels-chevanon-photography-1108099.jpg" alt="Nike Jordan Proto-Lyte Image"> *@
                </div>
                <div class="details">
                    <div class="content">
                        <h2>
                            Gemeos <br>
                            <span>Disponível para adoção</span>
                        </h2>
                        <p>
                            Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                            made for all-day, bouncy comfort.
                            Lightweight Breathability: Lightweight woven fabric with real or synthetic leather provides
                            breathable support.
                            Cushioned Comfort: A full-length foam midsole delivers lightweight, plush cushioning.
                            Secure Traction: Exaggerated herringbone-pattern outsole offers traction on a variety of surfaces.
                        </p>
                        <h3>Rs. 12,800</h3>
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="catalog-container">
                <div class="imgBx">
                    @* <img src="./assets/pexels-chevanon-photography-1108099.jpg" alt="Nike Jordan Proto-Lyte Image"> *@
                </div>
                <div class="details">
                    <div class="content">
                        <h2>
                            Gemeos <br>
                            <span>Disponível para adoção</span>
                        </h2>
                        <p>
                            Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                            made for all-day, bouncy comfort.
                            Lightweight Breathability: Lightweight woven fabric with real or synthetic leather provides
                            breathable support.
                            Cushioned Comfort: A full-length foam midsole delivers lightweight, plush cushioning.
                            Secure Traction: Exaggerated herringbone-pattern outsole offers traction on a variety of surfaces.
                        </p>
                        <h3>Rs. 12,800</h3>
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#catalog" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#catalog" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

